{% extends 'base.html' %}

{% block content %}
	
	<!-- user submitted information for a comment to a blog -->
	<form class="form" method="post" action="/comment/insert">
		<h2>Insert New Comment</h2>
		<textarea name="comment" class="form-control comment-width" rows="15">{{comment}}</textarea>
		<br>
		<input type="submit" class="btn btn-primary btn-md" name="submit-comment">
		<input type="submit" class="btn btn-danger btn-md" formaction="/blog" formmethod="get" name="cancel" value="Cancel">
		<span class="text-danger lead">{{error}}</span>
		<input type="hidden" name="blog-id" value="{{blog_id}}">
		<input type="hidden" name="comment-id" value="{{comment_id}}">
	</form>

{% endblock %}