/* Overhead */

html {
	box-sizing: border-box;
	background: url("../img/fallingcode.jpg");
	background-repeat: no-repeat;
}

body {
    font-family: Helvetica;
	font-size: 16px;
	color: white;
	background-color: black;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 0;
}

h1 {
	font-weight: bolder;
	font-size: 2.5em;
}

hr {
	height: 3px;
	background-color: red;
	border-radius: 20px;
}

/* stylistic classes */

.bump {
	margin: 10px 0;
}

.underline {
	text-decoration: underline;
}

.bigger-font {
	font-size: 1.2em;
}

/* images */

.mit-logo {
	height: 10vh;
}

.jeremy-info {
	height: 40vh;
	width: 100%;
}

.linkedin-logo {
	height: 5vh;
}

.github-logo {
	height: 5vh;
	width: 30%;
}

/* semantic classes */

.featured-work {}

.videogames {}


