<!doctype html>
<html lang="en-us">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Item Catalog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>

	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>

</html>


<!-- 
		<header>
			<h1>Item Catalog</h1>
			<a href="/"><button type="button">Homepage</button></a>
			<select>
				{% for category in category_list %}
					<option><a href="/{{category}}/items">{{category}}</a></option>
				{% endfor %}
			</select>
			{% if username %}
				<a href="/login"><button type="button">Logout</button></a>
			{% else %}
				<a href="/"><button type="button">Login</button></a>
			{% endif %}
		</header> -->
