<div class="row">
	<div class="col-xs-12">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				{% if login_session %}
					<span class="navbar-brand navbar-picture">
						<img src="{{login_session.get('picture')}}">
					</span>
				{% endif %}
				<span class="navbar-brand"><a class="white" href="{{url_for('homepage')}}"> Item Catalog</a></span>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="navHeaderCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						{% if login_session %}
							<li><a href="/item/add">Add Item</a></li>
						{% endif %}
						<li><a href="{{url_for('homepage')}}">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Categories <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for  category in category_list %}
									<li><a href="/category/{{category}}">{{category}}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% if login_session %}
							<li>
								<form class="navbar-form form-inline" method="post" action="{{url_for('logout')}}">
									<button class="btn btn-link" type="submit">Logout</button>
								</form>
							</li>
						{% else %}
							<li><a href="{{url_for('login_screen')}}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
			


<!-- Item Catalog,Homepage, Categories, Login
<br>
Username: {{login_session.get('username')}}
<br>
Email: {{login_session.get('email')}}
<br>
Picture: {{login_session.get('picture')}}
<br>
User-ID: {{login_session.get('user-id')}}
<br>
Login-Session-Credentials: {{login_session.get('credentials')}}
<br>
Facebook-ID: {{login_session.get('facebook_id')}}
<br>
Access-Token-Facebbok: {{login_session.get('access_token')}}
<br>
<br>
<form method="post" action="/logout">
	<input type="submit" value="Logout">
</form> -->

