{% extends 'base.html' %}

{% block content %}
	{% include 'header.html' %}

	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Categories</h2>
		</div>
	</div>
	{% for category in category_list %}
		<a href="/category/{{category}}">
			<div class="row">
				<div class="col-xs-12 text-center item-list">
					<span class="medium-black-font">{{category}}</span>
				</div>
			</div>
		</a>
	{% endfor %}

	{% if item_list %}
		<div class="row vertical-margin">
			<div class="col-xs-12 text-center">
				<h2>Latest Items</h2>
			</div>
		</div>
		{% for item in item_list %}
			<a href="/item/{{item.id}}">
				<div class="row">
					<div class="col-xs-12 text-center item-list">
						<span class="medium-black-font">{{item.name}} ({{item.category}})</span>
					</div>
				</div>
			</a>
		{% endfor %}
	{% endif %}

{% endblock %}
