{% extends 'base.html' %}

{% block content %}
	
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Edit Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 text-center center-column">
			<form method="post" action="/item/{{item.id}}/edit" enctype="multipart/form-data">
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" name="item-name" value="{{item.name}}" required>
					<label>Description</label>
					<textarea class="form-control" rows="10" name="item-description" required>{{item.description}}</textarea>
					<label>Category</label>
					<div class="row">
						<div class="col-xs-6 center-column">
							<select name="item-category" class="form-control" required>
								{% for category in category_list %}
									{% if category == item.category %}
										<option value="{{category}}" selected>{{category}}</option>
									{% else %}
										<option value="{{category}}">{{category}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<label>Picture</label>
					<input type="file" class="form-control-file center-column center-file-input" name="item-picture">
				</div>
				<div class="row">
					<div class="col-xs-6 text-right">
						<button class="btn btn-primary" type="submit">Edit</button>
					</div>
					<div class="col-xs-6 text-left">
						<a href="/item/{{item.id}}"><button class="btn btn-danger" type="button">Cancel</button></a>
					</div>
				</div>
				<input type="hidden" name="state" value="{{login_session.get('state')}}">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<span class="text-danger medium">{{error}}</span>
		</div>
	</div>
	

{% endblock %}
