{% extends 'base.html' %}

{% block content %}
	{% include 'header.html' %}

	<div class="row">
		<div class="col-xs-12">
			<h3>Categories</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul>
				<div class="row">
					<div class="col-xs-12">
						{% for category in category_list %}
							<li><a href="/category/{{category}}">{{category}}</a></li>
						{% endfor %}
					</div>
				</div>
			</ul>
		</div>
	</div>

	{% if item_list %}
		<div class="row">
			<div class="col-xs-12">
				<h3>Latest Items</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ol>
					<div class="row">
						<div class="col-xs-12">
							{% for item in item_list %}
								<li><a href="/{{item.id}}">{{item.name}} ({{item.category}})</a></li>
							{% endfor %}
						</div>
					</div>
				</ol>
			</div>
		</div>
	{% endif %}

{% endblock %}

<!-- {% if item_list %}
	 		User-id: {{item_list[0]}}
	 		<br>
	 		Owner: {{name}}
	 		<br>
	 		Name: {{item_list[1]}}
	 		<br>
	 		Category: {{item_list[2]}}
	 		<br>
	 		Picture: {{item_list[3]}}
	 		<br>
	 		Description: {{item_list[4]}}
	 		<br>
	{% endif %} -->



