{% extends 'base.html' %}

{% block content %}

	<form method="post" action="/item/add">
		<label>
			Name
			<input type="text" name="item-name" value="{{item_name}}">
		</label>
		<br>
		<label>
			Description
			<textarea name="item-description">{{item_description}}</textarea>
		</label>
		<br>
		<label>
			Category
			<select name="item-category">
				{% for category in category_list %}
					{% if item_category == category %}
						<option value="{{category}}" selected>{{category}}</option>
					{% else %}
						<option value="{{category}}">{{category}}</option>
					{% endif %}}
				{% endfor %}
			</select>
		</label>
		<br>
		<input type="submit">
	</form>
	{{error}}

{% endblock %}
