                                                                                                                  /* general element styles */
html,
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h4 {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0;
}

hr {
        background: #D0D7D9;
        height: 1px;
        margin: 20px 0;
        border: none;
}

a,
a:hover,
a:visited,
a:link {
	text-decoration: none;
	color: black;
}
                                                                                                                   /* id styles */
#map {
	height: 100%;
}

[id*="pano_"] {
	height: 200px;
	width: 200px;
}
                                                                                                                   /*class styles */
.sm-top-margin {
	margin-top: 15px;
}

.md-top-margin {
	margin-top: 30px;
}

.zero-padding {
	padding: 0;
}

.map-height {
	height: 100%;
}

.marked-spot-clicked {
	background-color: #00FF66;
	box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
	transform: translateX(-3px);
}

/* absolute positioning of exit button */
.exit {
	position: absolute;
	top: 2px;
	right: 2px;
}

/* turns off exit button until hover (.list-group-item: hover) */
.list-group-item > .glyphicon {
	display: none;
}

/* hover attributes */
.list-group-item:hover {
	background-color: #00FF9C;
	font-weight: bold;
}

.red-hover:hover {
	background-color: #FF0000;
	color: white;
	font-weight: bold;
}

.blue-hover:hover {
	background-color: #00FFC6;
	font-weight: bold;
}

.list-group-item:hover > .glyphicon {
	display: inline;
}
                                                                                                                   /* CSS Queries*/
/* Mobile Layout */
@media only screen and (max-width: 992px) {
	[class*="col-"] {
		width: 100%;
	}
}




